.main-screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.main-screen__note {
	height: 10%;
	width: 100%;
	max-width: 480px;
	font-size: 12px;
  margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-screen__note__link {
	text-decoration: underline;
}

.main-screen__scores {
	height: 15%;
	max-width: 480px;
	width: 100%;
  margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-screen__grid {
	width: 90%;
  height: 60%;
	margin: auto;
	overflow-x: auto;
	overflow-y: auto;
	justify-content: center;
	align-items: center;
}
